{% macro Console(args) %}
    <script src="{{url_for('static',filename='js/console.js')}}"></script>
    <div class="absolute bottom-0 left-0">
        <div class="bg-gradient-to-r from-black via-red-950 to-black justify-between w-screen rounded-t-md h-16 flex items-center text-red-400 font-bold text-2xl p-2 border-t border-red-800">
            <span class="neon-blood">Console</span>
            <button class="text-xl hover-blood-glow" id="consolebtn">Open</button>
        </div>
        <div id="console" class="bg-red-950 bg-opacity-80 p-4 h-48 hidden flex flex-col gap-2 overflow-y-scroll border-t border-red-700">
        </div>
    </div>
{% endmacro %}