{% macro Emulator(args) %}
    <script src="{{url_for('static',filename='js/emulator.js')}}"></script>
    <div id="emulator" class="card-blood">
    <div>
        <h2 class="neon-blood">Emulator</h2>
    </div>
    <div>
        <div id="button">
            <button id="btn1" class="blood-border button-blood grow flex text-white items-center justify-center hover-scale">32bit</button>
            <button id="btn2" class="blood-border button-blood grow flex items-center text-white justify-center hover-scale">64bit</button>
        </div>
    </div>
</div>
<style>
    #emulator {
	 width: 100%;
	 height: 6rem;
	 border-radius: 10px;
	 display: flex;
	 flex-direction: row;
	 transition: all 0.3s ease;
}
 #emulator:hover {
	 box-shadow: 0 0 15px theme('colors.blood');
}
 #emulator div:nth-child(1) {
	 width: 100%;
	 height: 100%;
	 display: flex;
	 align-items: center;
	 padding: 2rem;
}
 #emulator div:nth-child(1) h2 {
	 color: white;
	 font-size: larger;
	 font-weight: 600;
}
 #emulator div:nth-child(2) {
	 width: 100%;
	 height: 100%;
	 display: flex;
	 align-items: center;
	 justify-content: center;
}
 #emulator div:nth-child(2) #button {
	 box-sizing: border-box;
	 border-radius: 10px;
	 width: min-content;
	 height: min-content;
	 display: flex;
	 border: 1px solid #8B0000;
	 outline: 1px solid #8B0000;
	 outline-offset: 1px;
	 justify-content: space-around;
	 padding: 0;
	 width: 140px;
	 height: 40px;
	 overflow: hidden;
}
.active {
	 height: 100%;
	 width: 140px;
	 color: white;
	 background: linear-gradient(45deg, #2D0000, #8B0000);
}
.inactive {
	 height: 100%;
	 color: white;
	 background-color: rgba(22, 0, 0, 0.3);
}
</style>
{% endmacro %}