{% macro Status(version) %}
<script src="{{url_for('static',filename='js/status.js')}}"></script>
<div id="status" class="card-blood">
    <div>
        <h2 class="neon-blood">REGIX Studio Panel</h2>
        <span class="text-red-300">WELCOME TO REGIX STUDIO </>DEV: REGIX Studio Team</span>
    </div>
    <div>
        <button id="onlinebtn" class="border-red-500 blood-border bg-black bg-opacity-50 pulse-blood">Offline</button>
        <span class="text-red-400">v{{version}}</span>
    </div>
</div>
<style>
    #status {
	 height: 6rem;
	 border-radius: 10px;
	 display: flex;
	 align-items: center;
	 width: 100%;
	 justify-content: space-between;
	 transition: all 0.3s ease;
}
 #status:hover {
	 box-shadow: 0 0 20px theme('colors.blood');
}
 #status div:nth-child(1) {
	 width: 100%;
	 height: 100%;
	 display: flex;
	 flex-direction: column;
	 justify-content: center;
	 padding: 2rem;
}
 #status div:nth-child(1) h2 {
	 font-size: larger;
	 color: white;
	 font-weight: 600;
}
 #status div:nth-child(1) span {
	 font-size: medium;
	 color: white;
	 font-weight: 400;
	 opacity: 60;
}
 #status div:nth-child(2) {
	 display: flex;
	 width: 100%;
	 height: 100%;
	 justify-content: center;
	 align-items: center;
	 gap: 1rem;
}
 #status div:nth-child(2) button {
	 color: white;
	 padding: 1rem;
	 width: 100px;
	 height: 3rem;
	 display: flex;
	 text-align: center;
	 justify-content: center;
	 align-items: center;
	 border-radius: 10px;
	 font-weight: 800;
	 cursor: default;
}
 #status div:nth-child(2) span {
	 color: red;
}
 .active {
	 background-color: theme('colors.blood');
	 box-shadow: 0 0 10px theme('colors.danger');
}
 .inactive {
	 background-color: rgba(22, 0, 0, 0.5);
	 border: 1px solid theme('colors.blood');
}
</style>
{% endmacro %}