{% macro Tabs(num) %}
    <div id="tabs" class="no-scrollbar h-30 card-hover">
        <div class="">
            {% if num ==1 %}
                
                <a href="/dashboard" class="active-red">Headshot</a>
            {% else %}
                <a href="/dashboard" class="inactive-red tab-hover">Headshot</a>
                
            {% endif %}
            {% if num ==2 %}
                
                <a href="/sniper-panel" class="active-red">Sniper</a>
            {% else %}
                <a href="/sniper-panel" class="inactive-red tab-hover">Sniper</a>
                
            {% endif %}
            {% if num ==3 %}
                
                <a href="/extra-panel" class="active-red">Extra</a>
            {% else %}
                <a href="/extra-panel" class="inactive-red tab-hover">Extra</a>
                
            {% endif %}
            {% if num ==4 %}
                
                <a href="/settings" class="active-red">Settings</a>
            {% else %}
                <a href="/settings" class="inactive-red tab-hover">Settings</a>
                
            {% endif %}
            
        </div>
    </div>
    <style>
        #tabs {
	 background-color: #1f2427;
	 width: 100%;
	 border-radius: 10px;
	 display: flex;
	 align-items: center;
     color: white;
}
 #tabs div {
	 display: flex;
	 width: 100%;
	 height: 100%;
	 overflow-x: scroll;
	 align-items: center;
	 justify-content: space-between;
	 gap: 1rem;
	 padding: 1rem;
}
 #tabs div .button {
	 color: white;
}
 
    </style>
{% endmacro %}