{% extends 'base.html' %}
{% import 'partials/Status.jinja' as Status   %}
{% import 'partials/Emulator.jinja' as Emulator   %}
{% import 'partials/Tabs.jinja' as Tabs   %}
{% import 'partials/Headshot.jinja' as Headshot   %}
{% import 'partials/Console.jinja' as Console   %}
{% block body %}
    <div class="h-screen font-mono w-screen flex justify-center relative">
        <div class="p-2 max-w-[761px] container flex flex-col h-full overflow-y-scroll space-y-4">
            {{ Status.Status(version) }}
            {{ Emulator.Emulator() }}
            {{ Tabs.Tabs(1) }}
            {{ Headshot.Headshot() }}
        </div>
        {{ Console.Console() }}
    </div>
    <style>
        * {
            margin: 0;
            padding: 0;
       }
    </style>
{% endblock %}