{% extends 'base.html' %} {% block body %}
<script src="{{url_for('static',filename='js/homepage.js')}}"></script>
<div class="min-h-screen flex items-center justify-center p-4">
  <div
    class="flex flex-col items-center container max-w-md w-full stagger-children">
    <div class="flex flex-col justify-center items-center">
      <img
        class="w-48 h-48 outline outline-2 outline-red-accent rounded-full logo-hover"
        src="{{url_for('static',filename='images/logo.png')}}"
        alt=""
        sizes=""
        srcset="" />
      <span class="text-2xl text-center font-bold text-white mt-4"
        >REGIX Studio</span
      >
    </div>
    <div class="w-full mt-6 space-y-4">
      <div>
        <label
          for=""
          class="block text-base font-medium text-white mb-2">
          Username
        </label>
        <input
          id="username"
          type="text"
          placeholder="Username..."
          class="w-full bg-transparent rounded-md border border-stroke dark:border-dark-3 py-[10px] px-5 text-white outline-none transition input-glow" />
      </div>
      <div>
        <label
          for=""
          class="block text-base font-medium text-white mb-2">
          Password
        </label>
        <input
          id="password"
          type="password"
          placeholder="Password..."
          class="w-full bg-transparent rounded-md border border-stroke dark:border-dark-3 py-[10px] px-5 text-white outline-none transition input-glow" />
      </div>
    </div>
    <div class="mt-6 w-full flex justify-center">
      <button
        onclick="auth()"
        class="bg-red-accent hover:bg-red-700 border-red-accent border rounded-full inline-flex items-center justify-center py-3 px-10 text-center text-base font-medium text-white btn-hover">
        Login
      </button>
    </div>
    <span
      class="text-red-400 text-xl mt-2 text-center"
      id="status"></span>
  </div>
</div>

<style>
  body {
    background: #0a0a0f;
  }
</style>
{% endblock %}
